#!/bin/bash
VM_NAME="vmname"
DB_NAME="database_name"
DB_USER="database_user"
DB_PASS="database_pass"
DB_ROOT_USER="root"
DB_ROOT_PASS="root_password"
DB_HOST_PORT=54320
DB_CONTAINER_IMAGE=postgres:15.1
DB_CONTAINER_PORT=5432
DB_CONTAINER_NAME=database_container_name
PGADMIN_HOST_PORT=5050
PGADMIN_CONTAINER_IMAGE=dpage/pgadmin4:6.16
PGADMIN_CONTAINER_PORT=80
PGADMIN_CONTAINER_NAME=pgadmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pgpassword
